@{
    ViewData["Title"] = "Browse";

    string defaultVendor = "steven";
    string defaultArtifact = "bestlibraryever";
    string defaultVersion = "0.0.0-alpha";
}

@functions {
    string FormatDependency(string vendor, string artifact, string version) {
        return $"{vendor}:{artifact}@{version}";
    }
}

<body>

    <div style="display: flex; flex-direction: column; flex-wrap: nowrap; text-align: center; padding: 50px; align-items: center;">

        <div style="padding: 40px;">
            <h2>Browse dependencies...</h2>
        </div>


        <div style="display: flex; flex-direction: column; width: 75%; flex-wrap: nowrap; align-items: center;">

            <!-- Info input -->
            <div style="width: 75%;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Vendor</span>
                    </div>
                    <input type="text" 
                        class="form-control" 
                        placeholder=@defaultVendor 
                        aria-label="Vendor" 
                        aria-describedby="basic-addon1"
                        id="input-vendor"
                    >
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Artifact</span>
                    </div>
                    <input type="text" 
                        class="form-control" 
                        placeholder=@defaultArtifact 
                        aria-label="Artifact Name" 
                        aria-describedby="basic-addon1"
                        id="input-artifact"
                    >
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Version</span>
                    </div>
                    <input type="text" 
                        class="form-control" 
                        placeholder=@defaultVersion 
                        aria-label="Version" 
                        aria-describedby="basic-addon1"
                        id="input-version"
                    >
                </div>
            </div>

            <!-- Go! -->
            <div class="input-group mb-3" style="width: 100%">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder=@FormatDependency(defaultVendor, defaultArtifact, defaultVersion)
                    aria-label="Version" 
                    aria-describedby="basic-addon1"
                    id="input-result"
                >
                <button class="btn btn-outline-success" aria-label="Submit" type="submit">Go!</button>
            </div>
        </div>
    </div>

    <script src="~/js/browse.js" asp-append-version="true"></script>
</body>
