@{
    ViewData["Title"] = "Home";
}

<body>    
    <div style="text-align: center; padding: 40px;">
        <h1>Berry</h1>
        <h2>Crimson's peer-to-peer package manager</h2>
    </div>

    <div style="text-align: center; padding: 50px;">

        <button type="button" class="btn btn-outline-primary">
            <a asp-controller="Home" asp-action="Browse">
                <b><u>Browse dependencies </u></b><i class="bi bi-arrow-right"></i>
            </a>
        </button>
    </div>

</body>

