@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<body>    
    <div style="text-align: center">
        <h1>Welcome to Berry</h1>
        <h2>Crimson's peer-to-peer package manager</h2>
    </div>

    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search for a dependency..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Go!</button>
      </form>
</body>

