
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;1,200;1,300&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";

$color-mode-type: data;

$magnolia: #FAF0FA;
$english-violet: #433D51;

$magenta: #92374d;
$mint: #cbf3f0;
$white: #e9e8ed;
$tangerine: #f68f5e;
$bittersweet: #f76d5f;

$majorelle: #574AE2;
$royal: #222A68;
$hunter: #4B644A;
$ash: #c7d6d5;
$quartz: #9C92A3;

$berryLogo: "../res/light/BerryLogo (Light).svg";

html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  font-family: 'Nunito Sans', sans-serif;
  justify-content: space-between;  

  header {
    position: sticky;
    top: 0;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0;
    margin: 0;
  
    h1 {
      font-size: 72px;
      font-weight: 600;
    }
  
    h2 {
      font-size: 36px;
      font-weight: 600;
    }
  
    input[type=search] {
      filter: brightness(120%);
    }

    input[type=text] {
      filter: brightness(120%);
    }
  }
  
  body::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url($berryLogo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // filters in color theme
    z-index: -1;  
  }
  
  footer {
    margin-top: auto;
    width: 100vw;
    max-width: 100%;
  }
}

// ======================= Themes =======================

@include color-mode("light") {

  --bs-body-bg: #{$magnolia};

  html {
    // background-color: $magnolia;
  }

  body::before {
    filter: blur(16px) brightness(50%);
  }

  footer a {
    color: var(--text-colour)
  }
}

@include color-mode("dark") {

  --bs-body-bg: #{$english-violet};

  html {
    // background-color: $english-violet;
  }

  body::before {
    filter: blur(16px) brightness(30%);
  }

  footer a {
    color: var(--text-colour)
  }
}

@include color-mode("blue") {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};
} 