
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;1,200;1,300&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "themes.scss";

html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--background-color);
  font-family: 'Nunito Sans', sans-serif;
  justify-content: space-between;  
}

html.theme-light {
  --background-color: #e9e8ed; 
  --accent-colour: #f68f5e;
  --text-colour: #92374d;
  --background-image-url: "../res/light/BerryLogo (Light).svg";
}

html.theme-dark {
  --background-color: #222A68; 
  --accent-colour: #4B644A;
  --text-colour: #c7d6d5;
  --background-image-url: "../res/light/BerryLogo (Light).svg";
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin: 0;

  //background-image: url(--background-image-url);
  //filter: blur(8px);
  background-image: --background-image-url;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  h1 {
    font-size: 72px;
    font-weight: 600;
    color: var(--text-colour);
  }

  h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--text-colour);
  }
}

footer {
  margin-top: auto;
  border-top:1px solid $quartz;
  width: 100vw;
  max-width: 100%;

  p {
    color: var(--text-colour)
  }

  a {
    color: var(--text-colour)
  }
}