
$magenta: #92374d;
$mint: #cbf3f0;
$white: #e9e8ed;
$tangerine: #f68f5e;
$bittersweet: #f76d5f;

$majorelle: #574AE2;
$royal: #222A68;
$hunter: #4B644A;
$ash: #c7d6d5;
$quartz: #9C92A3;

.theme-light {
  --background-color: #e9e8ed;
  --accent-colour: #f68f5e;
  --text-colour: #92374d;
}

.theme-dark {
  --background-color: #222A68;
  --accent-colour: #4B644A;
  --text-colour: #c7d6d5;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

header {
  position: sticky;
  top: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  margin-top: auto;
  border-top:1px solid $quartz;
}

// Navigation bar
ul.navbar {
  background-color: $magenta;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    float: right;
    background-color: var(--accent-colour);

    a {
      display: block;
      text-align: center;
      color: var(--text-colour);
      width: 60px;
      padding: 8px;
      text-decoration: none;
    }

    .active {
      filter: brightness(50%)
    }

    :not(.active) {
      filter: brightness(100%)
    }

    :hover {
      filter: brightness(75%)
    }
  }
}