@using Microsoft.AspNetCore.Components;

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Berry - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @Html.Partial("_Favicons", new Berry.Pages.Shared._FaviconsModel())
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">
                <picture>
                    
                </picture>
                Berry
            </a>
            <li class="nav-item">
                <a class="nav-link active" asp-page="/Index">Home</a>
                </li>
            <li class="nav-item">
                <a class="nav-link active" asp-page="/Browse">Browse</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2023 - Berry - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>